version: "3.9"

volumes:
  volume1:

services:
  db:
    image: postgres
    restart: always
    volumes:
      - ./docker-entrypoint-initdb.d/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_NAME=dev-postgres
      - POSTGRES_USER=pixel
      - POSTGRES_DATABASE=lightchan
      - POSTGRES_PASSWORD=stardust 
    ports: 
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pixel"]
      interval: 5s
      timeout: 5s
      retries: 20
  backend:
    build: .
    restart: always
    volumes:
      - volume1:/code
    command: sh -c "./entrypoint.sh"
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_NAME=dev-postgres
      - POSTGRES_USER=pixel
      - POSTGRES_DATABASE=lightchan
      - POSTGRES_PASSWORD=stardust
      - POSTGRES_HOST=db  
    depends_on:
      db:
        condition: service_healthy 
  watchvolume:
    build: ../../watchvolume
    restart: always
    volumes: 
      - '/var/run/docker.sock:/var/run/docker.sock'
      - volume1:/code
    command: sh -c "../entrypointwatch.sh"
    depends_on:
      - 'backend'
  frontend:
    build: ../../
    restart: always
    volumes:
      - .:/app
    ports: 
      - "3000:3000"
    depends_on:
      - "backend"
  nginx:
    image: nginx
    restart: always
    ports:
      - "9000:80"
    volumes:
      - volume1:/usr/share/nginx/html
    links:
      - "backend"
      - "db"