

.submitcommentbutton{
  display: inline-block;
  background-color: rgb(32, 73, 4);
  color: rgb(130, 190, 130);
  font-weight: bold;
  cursor: pointer;
  border: 2px solid greenyellow ;
  padding: 5px;
  margin: 5px;
}

.arrowbutton{
  display: inline-block;
  background-color: rgb(40, 37, 247);
  color: rgb(223, 220, 41);
  height: 0.8rem;
  font-weight: bold;
  margin-left: 5px;
  font-size: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;  
}

.viewbutton{
  display: inline-block;
  background-color: rgb(128, 35, 12);
  color: rgb(223, 220, 41);
  font-weight: bold;
  height: 0.8rem;
  margin-left: 5px;
  font-size: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid blue ;
  padding: 5px;
}

.replybutton{
  display: inline-block;
  background-color: rgb(128, 35, 12);
  color: rgb(223, 220, 41);
  font-weight: bold;
  margin-left: 5px;
  font-size: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid blue ;
  padding: 5px;
}

.welcomebanner{
  width: 100vw;
  background-color: rgb(198, 205, 211);
  color: #00008b;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.submitsubheaders{
  color: black !important;
  font-weight: 600;
  text-align: left;
  padding-left: 7vw;
  margin-bottom: 5px;
}

ul.boards {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  padding-left: 5px;
}

.boardlistitem{
  display: inline-block;
  color: lightgreen;  
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.inputval{
  width: 80%;
  margin-bottom: 10px;
}

.textval{
  width: calc(80% + 2px);
  height: 20vh;
  resize: none;
  margin-bottom: 10px;
}

.submitcommentcontainer{
  display: inline-block;
  /* width: 40vw; */
  width: 100%;
  margin-top: 20px;
  /* width: calc( 100% - 24px); */
  text-align: center;
  /* background-color: aqua; */
}

.commentcontainer{
  background: rgb(106, 167, 106);
  color: black;
  display: inline-block;
  width: 100%;
  width: calc( 100% - 24px);
  margin: 10px;
  border: 2px solid grey;
  text-align: right;
}

.commenttitlebar{
  font-size: 0.8rem;
  font-weight: bold;
  padding: 5px;
}

.commentcontentbox{
  padding: 5px;
  color: rgb(0, 0, 0);
  width: calc(100% - 10px);
  display: inline-block;
  background: rgb(145, 184, 145); 
}

.commentimage{
  display: inline-block;
  float: left;
  width: 30%;
  padding: 5px;
}

.commentcontent{
  word-break: break-all;
}

.replyimage{
  display: inline-block;
  float: left;
  width: 30%;
  padding: 5px;
}

.replycontent{
  word-break: break-all;
}

.replycontainer{
  background: rgb(76, 129, 76);
  color: black;
  display: inline-block;
  width: 40vw;
  margin: 10px;
  border: 2px solid grey;
  text-align: right;
}

.replytitlebar{
  font-size: 0.8rem;
  font-weight: bold;
  padding: 5px;
}

.replycontentbox{
  padding: 5px;
  color: rgb(0, 0, 0);
  display: inline-block;
  width: calc(100% - 10px);
  background: rgb(79, 105, 79); 
}

.nav {
  min-height: 1px;
  grid-area: nav;
  background-color: #4f6ceb;
}

.board {
  min-height: 1px;
  color: rgb(116, 158, 158);
  grid-area: board;
  min-height: 100vh;
  text-align: center;
  background-color: #3d8c85;
}

.header {
  min-height: 1px;
  grid-area: header;
  text-align: center;
  background-color: rgb(25, 172, 12);
}

.stats {
  min-height: 1px;
  grid-area: stats;
  background-color: #568331;
}

.wrapper {
  display: grid;
  grid-gap: 0px;
  width: 100vw;
  background-color: grey;
  min-height: 100vh;
  grid-template-columns: 5vw 10vw 10vw 25vw 25vw 10vw 10vw 5vw;
  grid-template-areas:
    "header header header header header header header header"
    "... nav  nav  board  board  stats  stats  ..."
    "... nav  nav  board  board  stats  stats  ..."
    "... nav  nav  board  board  stats  stats  ..."
    "... nav  nav  board  board  stats  stats  ..."
    "... nav  nav  board  board  stats  stats  ..."
    "... nav  nav  board  board  stats  stats  ..."
    "... nav  nav  board  board  stats  stats  ..."
    "... nav  nav  board  board  stats  stats  ..."
    "... nav  nav  board  board  stats  stats  ..."
    "... nav  nav  board  board  stats  stats  ..."
    "... nav  nav  board  board  stats  stats  ...";
  color: black;
}

.sidebar{
  margin: 20px;
  padding: 5px;
  width: calc( 100% - 50px - 4px );
  min-height: 20vh;
  border: 2px solid black;
  background: #3d7da3;
  text-align: left;
}

.statsbar{
  margin: 20px;
  padding: 5px;
  width: calc( 100% - 50px - 4px );
  min-height: 20vh;
  border: 2px solid black;
  /* background: #3c8188; */
  background: rgb(79, 189, 7);  
  text-align: l eft;
}

